<% wrap_layout :layout do %>
<section class="primary extra-space bottom first-section">
  <div class="container">
    <div class="row-content">
      <div class="col-sm-10 col-sm-offset-1" style="padding-top:20px">
        <p style="padding-top:20px">
            Thank you for your interest in joining the Linode community as a contributing author!
            Your application is being reviewed and we will get back to you within 2-3 business days.
        </p> 
        <p>
            In the meantime, feel free to check out our <a href="https://www.linode.com/docs/github-guide" target="_blank">GitHub Beginner’s Guide</a> and <a href="https://www.linode.com/docs/linode-writers-guide" target="_blank">Linode Writer’s Guide</a>.
            Linode manages tutorial contributions through the use of GitHub.
            In the interest of making submissions as easy as possible, these tutorials will walk you through submitting a new guide on our public GitHub repository.
        </p>
      </div>
    </div>

  </div>
</section>
<% end %>
