<%
base_path = "source#{.url}"
video_articles = []

# Tutorials articles
(.Params.featured || Dir.glob("#{base_path}*").reject {|f| File.directory? f or File.basename(f) == 'index.md' }).each do |article|

  if File.exists? File.join(base_path, article, 'index.md')
    # featured directory
    article_filename = File.join(article,'index')
    article_contents = File.read File.join(base_path, "#{article_filename}.md")
  else
    article_filename = File.basename(article, '.md')
    article_contents = File.read "#{base_path}#{article_filename}.md"
  end

  url = "#{.url}#{article_filename}".gsub(/index$/, '')

  meta = YAML.load(article_contents).merge({ 'url' => url })
  video_articles << meta unless meta['deprecated']
  
  video_articles.sort_by! { |x| Date.parse x['published']  }.reverse!
end
%>

{{ unless video_articles.empty? }}
  <section class="primary">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          {{ video_articles.each_slice(3) do |slice| }}
            <div class="row">
              {{ slice.each do |article| }}
                <div class="col-sm-4 library-article-blurb">
		  {{ if article['video']['video_thumbnail_url'] }}
		    <p><a href="{{ article['url'] }}"><img src="{{ article['video']['video_thumbnail_url'] }}" border="0" width="292" /></a></p>
		  {{ end }}
                  <h4><a href="{{ article['url'] }}">{{ article['title'] }}</a></h4>
                  <p><small>{{ article['description'] }}</small></p>
		  <p>
		    {{ if article['video']['video_runtime'] }}
		       <small>Length: {{ article['video']['video_runtime'] }} |</small>
	 	    {{ end }}
		    <a href="{{ article['url'] }}"><small>Watch Video</small></a>
		  </p>
                </div>
              {{ end }}
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </section>
{{ end }}
