<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode | default "en-us" }}'>

  {{ partial "0_utilities/htmlHead.html" . }}

  <body>
    {{ if .Site.Params.dev.enable}}
      {{ partial "1_atoms/cssinfo.html" . }}
    {{ end }}

    <div class="content">
      <div class="header-wrapper">
        <header class="header container mx-auto lg p-4 flex flex-wrap items-center justify-between">
          {{ partial "3_organisms/header.html" . }}
        </header>
      </div>

      <div class="main-wrapper container mx-auto lg p-4">
        <main class="main">
            {{ partial "3_organisms/content.html" . }}
        </main>
      </div>
    </div>

    <div class="footer-wrapper">
      <footer class="footer container mx-auto lg py-8 px-4">
        {{ partial "3_organisms/footer.html" . }}
      </footer>
    </div>

  {{ partial "0_utilities/scripts.html" . }}
  </body>
</html>
