{{ define "banner" }}
  {{ partial "3_organisms/banner.html" ( dict "Title" "Changelog" "Subtitle" "Latest updates from the Linode team") . }}
{{ end }}

{{ define "main" }}

<div class="container mx-auto max-w-lg my-8">
  <nav class="flex mb-4 items-center">
    <span class="uppercase font-semibold text-xs mr-4">Product:</span>
    {{ $currentTag := index (last 1 (split (delimit (split .URL "/") "," "") ",")) 0 }}
    {{ range $name, $items := .Site.Taxonomies.changelog }}
      <a href="{{ $.Site.BaseURL }}changelog/{{ $name | urlize | lower }}" class="btn btn-small btn-grey mr-2 {{ if eq $currentTag $name}}active{{end}}">{{ $name | humanize}}</a>
    {{ end }}
  </nav>

  <div class="mb-4">
    <div class="w-full">
      <p>We follow semantic versioning according to the <a href="https://semver.org" target="_blank">Semantic Versioning 2.0.0 Guidelines</a>.</p>
    </div>
    <div class="bg-d-cell p-8 mt-4">
      <div class="font-semibold mb-4">Unreleased changes</div>
      <ul>
        <li>Petierunt uti sibi concilium totius Galliae in diem certam indicere.</li>
        <li>Phasellus laoreet lorem vel dolor tempus vehicula.</li>
        <li>Contra legem facit qui id facit quod lex prohibet.</li>
        <li>Paullum deliquit, ponderibus modulisque suis ratio utitur.</li>
      </ul>
    </div>
  </div>
    
  {{ range .Paginator.Pages }}
    {{ partial "2_molecules/changelogs.html" . }}
  {{ end }}
    
  {{ partial "2_molecules/paginator" . }}
</div>
{{ end }}
  