{{ define "main" }}
    <div class="container mx-auto max-w-xl">

        <div class="flex mb-4">
            <div class="w-full text-center">
                <h1>{{ .Title }}</h1>
                <h2>Latest updates from the Linode team</h2>
            </div>
        </div>

         <div class="flex mb-4">
            <div class="w-1/4 p-4">
                <a href="/changelog/catgeories/APIv4" class="header-category">APIv4</a>
            </div>
            <div class="w-1/4 p-4">
                <a href="/changelog/categories/community" class="header-category">Community</a>
            </div>
            <div class="w-1/4 p-4">
                <a href="/changelog/categories/manager" class="header-category">Manager</a>
            </div>
         </div>

        <div class="flex mb-4">
            <div class="w-full h-12">
                  <p>
                    Our Changelog follows semantic versioning according to the
                    <a href="https://semver.org" target="_blank">Semantic
                        Versioning 2.0.0 Guidelines</a>.
                  </p>
            </div>
        </div>

        {{ range .Paginator.Pages }}
        <div class="flex mb-4">
            <div class="w-1/4 p-4 text-right">
                <p>{{ .Date.Format "January 1, 2006" }}</p>
                {{ if .Params.version }}
                    <p>version {{ .Params.version }}</p>
                {{ end }}
            </div>
            <div class="w-3/4 p-4">
                <h3>
                    {{ .Title | markdownify }}
                </h3>
                <p>
                    {{ .Content | markdownify }}
                </p>
            </div>
        </div>
        {{ end }}

        {{ partial "2_molecules/paginator" . }}
    </div>
{{ end }}
