{{ define "banner" }}
  {{ partial "3_organisms/banner.html" ( dict "Title" "Changelog" "Subtitle" "Latest updates from the Linode team") . }}
{{ end }}

{{ define "main" }}

<div class="container mx-auto max-w-lg my-8">
  <nav class="flex mb-4 items-center">
    <span class="uppercase font-semibold text-xs mr-4">Product:</span>
    {{ $currentTag := index (last 1 (split (delimit (split .URL "/") "," "") ",")) 0 }}
    {{ range $name, $items := .Site.Taxonomies.changelog }}
      <a href="/changelog/{{ $name | urlize | lower }}" class="btn btn-small btn-grey mr-2 {{ if eq $currentTag $name}}active{{end}}">{{ $name | upper}}</a>
    {{ end }}
  </nav>

  {{ range .Paginator.Pages }}
    {{ partial "2_molecules/changelogs.html" . }}
  {{ end }}
    
  {{ partial "2_molecules/paginator" . }}
</div>
{{ end }}