{{ define "main" }}

<div class="mx-auto text-center max-w-lg my-8 pb-4">
  <h2 class="font-light text-BaseGreenDark">API Guides</h2>
</div>

<div class="max-w-xl mx-auto pb-4">
  <div class="flex flex-wrap mt-8 -mx-4">
    {{ range .Paginator.Pages  }}
      <article class="w-full md:w-1/2 px-4 mb-4 md:mb-8">
        <div class="p-8 h-full bg-ThemeCell tile">
          <header>
            <h3 class="mt-0 text-2xl font-normal"><a href="{{ .Params.external_url }}" class="text-black tile-link" target="_blank">{{ .Title | markdownify }}</a></h3>
            {{ partial "2_molecules/post-categories" . }}
          </header>
          <section>{{ .Content }}</section>
        </div>
      </article>
    {{ end }}
  </div>
  <div class="text-center mt-4 md:mt-0 md:mb-12">
    <a href="https://linode.com/docs/platform" target="_blank" class="btn mx-auto">View All Platform Guides</a>
  </div>
</div>

<div class="flex flex-wrap my-8 -mx-4">
  <article class="w-full md:w-1/2 px-4 mb-4 md:mb-8">
    <div class="md:p-8 h-full">
      <div class="cloud flex justify-center md:justify-end items-center">
        {{ partial "0_svgs/cloud.svg" }}
      </div>
    </div>
  </article>
  <article class="w-full md:w-1/2 px-4 mb-4 md:mb-8">
    <div class="p-8 h-full flex flex-col justify-center">
      <header>
        <h2 class="mt-0 font-light text-BaseGreenDark">Want more help?</h2>
      </header>
      <p class="text-xl mt-2 font-light">Find answers, ask questions, and help others.</p>
      <a href="https://linode.com/community/questions" target="_blank" class="btn mt-4">Join our Community</a>
    </div>
  </article>
</div>

<div class="my-8 -mx-4 pb-4">
  <div class="text-center my-4">{{ partial "0_svgs/divider.svg" }}</div>
  <h2 class="text-center mx-auto font-light text-BaseGreenDark">Get started in the Linode cloud today.</h2>
  <div class="flex justify-center">
    <a href="https://manager.linode.com/session/signup" target="_blank" class="btn mt-4 mr-2">Create an Account</a>
    <a href="https://www.linode.com/linodes" target="_blank" class="btn mt-4 ml-2">Learn More</a>
  </div>
</div>

{{ partial "2_molecules/paginator" . }}

{{ end }}
