{{ define "main" }}

<div class="flex flex-wrap mb-8 -mx-4">

  <!-- <div class="w-full sm:w-1/4 md:w-1/5 px-4 flex flex-wrap">
    <div id="filters" class="button-group filters-group sm:py-4 sm:mt-4">
      <div class="flex flex-wrap sm:block">
        <div class="md:mt-4 invisible sm:visible text-center">{{ partial "0_svgs/divider.svg" (dict "width" 170) }}</div>
        <h4 class="uppercase mt-2 mb-4 w-full md:text-center">Created By</h4>
        {{ partial "1_atoms/radio.html" (dict "ID" "linode" "Name" "created" "Value" ".linode" "Label" "Linode") . }}
        {{ partial "1_atoms/radio.html" (dict "ID" "community" "Name" "created" "Value" ".community" "Label" "Community") . }}
      </div>
      <div class="flex flex-wrap sm:block">
        <h4 class="uppercase mb-4 w-full md:text-center">Language</h4>
        {{range ($.Site.GetPage "taxonomyTerm" "languages").Pages }}
          {{ partial "1_atoms/radio.html" (dict "ID" (lower (replace .Title "." "-")) "Name" "language" "Value" (print "." (lower (replace .Title "." "-"))) "Label" .Title) . }}
        {{end}}
      </div>
      <button class="text-BaseBlue underline mt-4" onclick="uncheckAll('filters')">Reset Filters</button>
      <div class="md:block md:text-center mt-16">
        <h4 class="uppercase mb-4 w-full community-header">Want More Help?</h4>
        <a href="https://linode.com/community/questions" target="_blank" class="btn btn-small block text-center">Visit Linode Community</a>
      </div>
    </div>
  </div> -->
  
  <div class="w-full px-4">
    <div class="my-4 md:mt-12 md:mt-8 max-w-3xl">
      <!-- <div class="mb-4 mt-8 sm:hidden text-center">{{ partial "0_svgs/divider.svg" (dict "width" 170) }}</div> -->
      <h2 class="font-normal text-BaseGreenDark mb-6 md:mb-0">Tools</h2>
      <div class="flex -mx-4 md:items-center flex-col-reverse md:flex-row mb-2">
        <div class="px-4 flex flex-wrap">
          <div style="width: 300px;">
            {{ partial "2_molecules/code-box.html" }}
          </div>
          <div class="mt-4 md:hidden flex w-full"><a href="https://www.linode.com/cli" target="_blank" class="btn text-sm">Linode CLI on GitHub</a></div>
        </div>
        <div class="px-4">
          <h3 class="md:text-2xl mt-0 font-normal text-BaseGreenDark">Linode CLI</h3>
          <div class="md:text-lg my-3 text-light">An easy way to get up and running with the Linode API.</div>
          <div class="pt-3 hidden hidden md:block"><a href="https://www.linode.com/cli" target="_blank" class="btn text-sm">Linode CLI on GitHub</a></div>
        </div>
      </div>
      <div class="flex flex-wrap mt-8 md:mb-4 -mx-4">
        <article class="item lib-item w-full md:w-1/2 px-4 mb-4 md:mb-8">
          <div class="p-8 h-full bg-ThemeCell tile">
            <header>
              <h3 class="mt-0"><a class="text-black tile-link" href="https://terraform.io/docs/providers/linode/" target="_blank">terraform-provider-linode</a></h3>
            </header>
            <section class="mt-2">
              Terraform is an Infrastructure-as-code tool that includes management features for various types of Linode resources.
            </section>
          </div>
        </article>
        <article class="item lib-item w-full md:w-1/2 px-4 mb-4 md:mb-8">
          <div class="p-8 h-full bg-ThemeCell tile">
            <header>
              <h3 class="mt-0"><a class="text-black tile-link" href="https://github.com/pharmer/pharmer" target="_blank">Pharmer</a></h3>
            </header>
            <section class="mt-2">
              Kubernetes Cluster Manager for Kubeadm (Technical Preview)
            </section>
          </div>
        </article>
        <article class="item lib-item w-full md:w-1/2 px-4 mb-4 md:mb-8">
          <div class="p-8 h-full bg-ThemeCell tile">
            <header>
              <h3 class="mt-0"><a class="text-black tile-link" href="https://github.com/displague/vagrant-linode" target="_blank">vagrant-linode</a></h3>
            </header>
            <section class="mt-2">
              vagrant-linode is a provider plugin for Vagrant that supports the management of Linodes (instances).
            </section>
          </div>
        </article>
        <article class="item lib-item w-full md:w-1/2 px-4 mb-4 md:mb-8">
          <div class="p-8 h-full bg-ThemeCell tile">
            <header>
              <h3 class="mt-0"><a class="text-black tile-link" href="https://github.com/kahkhang/kube-linode" target="_blank">kube-linode</a></h3>
            </header>
            <section class="mt-2">
              Provision a Kubernetes/CoreOS cluster on Linode.
            </section>
          </div>
        </article>
        <article class="item lib-item w-full md:w-1/2 px-4 mb-4 md:mb-8">
          <div class="p-8 h-full bg-ThemeCell tile">
            <header>
              <h3 class="mt-0"><a class="text-black tile-link" href="https://github.com/linode/docker-machine-driver-linode" target="_blank">docker-machine-driver-linode</a></h3>
            </header>
            <section class="mt-2">
              The Linode Docker Machine Driver provisions Linode instances to run Docker Engine.
            </section>
          </div>
        </article>
      </div>
    </div>
    <h2 class="font-normal text-BaseGreenDark">Libraries</h2>
    <div class="flex flex-wrap mt-6 md:mt-8 md:mb-4 -mx-4 grid">
      <div id="noResultsContainer" class="visually-hidden">
        <div class="px-4">No results</div>
      </div>
      {{ range .Paginator.Pages  }}
        <article class="item lib-item w-full md:w-1/2 px-4 mb-4 md:mb-8 {{ range .Params.languages }}{{ lower (replace . "." "-") }} {{ end }}{{ .Params.origin }}">
          <div class="p-8 h-full bg-ThemeCell tile">
            <div class="origin mb-2 text-xs uppercase font-semibold {{ if eq .Params.origin "linode" }}text-BaseGreen{{ end }}">{{ .Params.origin }}</div>
            <header>
              <h3 class="mt-0"><a class="text-black tile-link" href="{{ .Params.external_url }}" target="_blank">{{ .Title | markdownify }}</a></h3>
            </header>
            <section class="mt-2">{{ .Content | markdownify }}</section>
          </div>
        </article>
      {{ end }}
    </div>
  </div>

</div>

<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script src={{ "/assets/js/tools.js" | relURL }} type="text/javascript"></script>
{{ end }}
