<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>
    <div id="all">
        <header>
          {{ partial "top.html" . }}
          {{ partial "nav.html" . }}
        </header>

        <div class="container">
          <div class="row pad-top">
            <div class="content col-12">
                <h1>{{ .Title }}</h1>
                {{ .Content }}
            </div>
          </div>
        </div>
        <!-- /#container -->
    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}
  </body>
</html>
