.tag {
  @apply font-normal inline-block px-1 bg-ThemeTagGrey text-BaseBlackFull text-sm;
  padding-top: 4px;
  padding-bottom: 3px;
  width: fit-content;
  transition: background-color 225ms ease-in-out, color 225ms ease-in-out;
  line-height: 1;
}
