.tag {
  @apply font-normal px-2 bg-ThemeTagGrey text-BaseBlackFull text-sm;
  padding-top: 6px;
  padding-bottom: 5px;
  width: fit-content;
  transition: background-color 225ms ease-in-out, color 225ms ease-in-out;
  line-height: 1;
}
