div.library-tile {
	min-height: 200px;
	background-color: @brand-neutral;
	padding: @padding-standard;
	margin-bottom: @padding-standard;

	p { color: @text-on-white; }

	&:hover,
	&:focus,
	&:active,
	&.active {
		background-color: @brand-subdued;
		p { color: @text-on-white; }
	}
}

div#article-body {
	border-left: 1px solid #E7E6E6;
}

div.sidebar {
	.text-right;
	&.affix { h1, h2, h3, h4, h5, p { margin-right: 18px; } }
	padding-top: 68px;
}

ul.nav {
	border-left: none;
}
