@library-category-breakpoint: @screen-desktop;

.library-article-blurb {
	padding-top: (@padding-standard / 2);
	padding-bottom: (@padding-standard / 2);
}

.library-breadcrumb {
	background-color: @pure-white;
	padding: @padding-standard 0 0 0;

	> li {

		display: block;
		@media screen and (min-width: @screen-tablet) { display: inline-block; }

		&+li:before {
			content: "\00BB\00a0";
			color: @subdued-text-on-white;
		}
	}

	> .active {
		color: @subdued-text-on-white;
	}
}

.library-categories-row {
	.make-row();
	margin-top: (@padding-standard * 2)
}

.library-category-articles { padding-left: 20px; }
.library-category-articles + .library-category-title { margin-top: (@padding-standard * 2); }

.library-category-title {
	padding-bottom: 10px;
	border-bottom: 1px solid @border-light;

	@media screen and (min-width: @library-category-breakpoint) { width: 80%; }
}

div.library-tile {
	min-height: 200px;
	background-color: @brand-neutral;
	padding: @padding-standard;
	margin-bottom: @padding-standard;

	p { color: @text-on-white; }

	&:hover,
	&:focus,
	&:active,
	&.active {
		background-color: @brand-subdued;
		p { color: @text-on-white; }
	}
}

div#article-body {
	.doc;
	border-left: 1px solid #E7E6E6;
}

.sidebar-affix {
	position: relative;

	&.affix-top { position: relative; }

	@media screen and (min-height: 900px) and (min-width: @screen-tablet) {
		&.affix {
			h1, h2, h3, h4, h5, p { margin-right: 16px; }
			position: fixed;
			top: 0;
		}
		&.affix-bottom {
			h1, h2, h3, h4, h5, p { margin-right: 0; }
			position: relative;
		}
	}
}

.sidebar-library {
	.text-right;

	padding-left: 0;

	li {
		display: block;
		margin-top: 0;
		margin-bottom: 0;
	}

	ul {
		border: 0;
	}

	ul > li {
		padding-left: 0;
		margin-top: 20px;
		&:first-child { font-weight: @font-weight-heavy; }
	}
}
