/* HTML */
body {
  font-family: 'Lato', sans-serif;
}

footer {
  font-size: 0.8em;
  text-align: center;
  height: 100px;
}

h1, h2 {
  font-weight: bold;
}

/* IDs */
#footer {
  padding: 1em;
  height: 100%;
}

#top a {
  color: #bbb;
}

/* CLASSES */
.background-dark-gray {
  background: #343a40;
  color: #aaa;
}

.background-gray {
  background: gray;
  color: white;
}

.background-lt-gray {
  background: #ddd;
}

.library {
  border: 1px solid #ddd;
  margin-bottom: 1em;
  height: 200px;
}

.library-content {
  padding: 0.5em;
}

.library-github-band {
  position: relative;
  width: 100%;
  padding: 0.4em;
  background: #DCF0FF;
}

.pad-bottom {
  margin-bottom: 4em;
}

.pad-right {
  margin-right: 1em;
}

.pad-top {
    margin-top: 1em;
}

.section {
  min-height: 400px;
  padding: 2em 0 1em 0;
}
