<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>
    <div id="all">
        <header>
          {{ partial "top.html" . }}
          {{ partial "nav.html" . }}
        </header>

        <div class="container">
          <div class="row pad-top">
            <div class="content col-12">
                {{ .Content }}
            </div>
          </div>

          {{ $repoJ := getJSON "https://api.github.com/search/repositories?q=linode" }}

          <div class="row">
            {{ range first 50 $repoJ.items }}
            <div class="col-6">
              <div class="library">
                  <div class="library-github-band text-right">
                    <i class="fas fa-star"></i> {{ .stargazers_count }}&nbsp;&nbsp;
                    <i class="fas fa-code-branch"></i> {{ .forks_count }}&nbsp;&nbsp;
                    <i class="fas fa-file-code"></i> {{ .language }}
                  </div>
                  <!-- /#library-github-band -->
                  <div class="library-content">
                    <h3>
                      {{ if .owner.avatar_url }}
                        <img src="{{ .owner.avatar_url }}" width="30" height="30" />
                      {{ end }}
                      {{ .name }}
                    </h3>
                    <p>{{ .description }}</p>
                    <p><a href="{{ .html_url }}" target="_blank">View Library</a></p>
                  </div>
                  <!-- /#library-content -->
              </div>
              <!-- /#library -->
            </div>
            {{ end }}
            <!-- /#col-6 -->
          </div>
          <!-- /#row -->
        </div>
        <!-- /#container -->
    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}
  </body>
</html>
