<% wrap_layout :layout do %>
<section class="white doc some-space-top">
	<div class="container">
		<div class="row">
			<%= Kramdown::Document.new(<<-EOS
{::options parse_block_html="true"/}
<div id="doc-sidebar" class="col-sm-4">
<div>
<h3 id="doc-sidebar-title" class="h5">Sections</h3>
* Table of Contents
{:toc .sidebar .sidebar-library}
</div>
</div>
<div id="article-body" class="col-sm-8">
<h1 id="doc-title">#{current_page.data.title}</h1>
#{File.read(current_page.source_file).gsub(/\A---\n(?:[[:print:]]+\s)+/m, '')}
</div>
EOS
			).to_html %>
		</div>
	</div>
</section>

<% end %>
