<% wrap_layout :layout do %>
<section class="white doc">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div class="sidebar">
				</div>
			</div>
			<div class="col-sm-8">
				<%= yield %>
			</div>
		</div>
	</div>
</section>
<% end %>