<% wrap_layout :layout do %>
<section class="white doc">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="sidebar">
				</div>
			</div>
			<div class="col-sm-9">
				<h1><%= current_page.data.title %></h1>
				<%= yield %>
			</div>
		</div>
	</div>
</section>
<% end %>
