.home-lins {
  max-width: 200px;
}

.home-triangles {
  bottom: -.5rem;
  max-width: 150px;
}

@screen md {
  .home-lins {
    max-width: 437px;
  }
  .home-triangles {
    max-width: 277px;
  }
}

.code-box {
  max-width: 500px;
}

.code-box-header {
  border-bottom: 1px solid #fff;
}

.code-box-content {
  overflow-x: auto;
}

.code-box-circle {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
}

.circle-red {
  background-color: #C65D6A;
}

.circle-yellow {
  background-color: #CBBD0B;
}

.circle-green {
  background-color: #219D5E;
}
