.changelog-entry h3 {
  @apply tag;
  display: inline-block;
  margin-top: 13px;
}

.changelog-entry > ul {
  @apply my-4;
}

.changelog-entry ul p {
  @apply mt-0;
}

.int-changelog .changelog-product {
  display: none;
}