.dlc-nav {
  border-bottom: 1px solid #ededf4;
}

@media only screen and (min-width: 768px) {
  .dlc-nav {
    position: sticky;
    top: 70px;
    z-index: 2;
  }
}

.dlc-nav__link {
  color: rgb(50, 54, 59);
  font-weight: 600;
}

@media only screen and (max-width: 560px) {
  .dlc-nav__link {
    clear: both;
    margin: 0;
    display: block;
  }
}

.dlc-nav__link:hover,
.dlc-nav__link.active {
  color: rgb(50, 54, 59);
  text-decoration: underline;
}

.dlc-nav__link:first-child {
  margin-left: 0;
}
