.nav-link-utility {
  font-size: 0.8125rem;
  line-height: 1.30769;
  border: 0 solid transparent;
  border-width: 2px 0;
  cursor: pointer;
  display: inline-block;
  margin: 0 12px;
  padding: 8px 0;
  text-decoration: none;
}

.nav-link {
  line-height: 1.33333;
  cursor: pointer;
  margin: 0 20px;
}

.nav-link:hover {
  text-decoration: none;
}

.nav-link.dropdown .caret {
  display: inline-block;
  width: 8px;
  position: relative;
  top: 4px;
  margin-left: 0.666rem;
}

/* .nav-link:first-child {
  margin-left: 0;
}

.nav-link:last-child {
  margin-right: 0;
} */

.nav-link.search {
  margin-right: 8px;
}

.nav-link .search-icon {
  display: inline-block;
  width: 18px;
  position: relative;
}
