<% wrap_layout :layout do %>
<section class="white doc">
	<div class="container">

		<%= partial 'breadcrumb' %>

		<div class="row">
			<%= Kramdown::Document.new(<<-EOS
{::options parse_block_html="true"/}
<div id="article-body" class="col-sm-8 col-sm-push-4" itemscope itemtype="http://schema.org/TechArticle">
<h1 id="doc-title" itemprop="headline">#{current_page.data.title}</h1>
<p><small>Published <time itemprop="datePublished" datetime="#{Time.parse(current_page.data.published).iso8601}">#{current_page.data.published}</time> by <span itemprop="author">#{current_page.data.author.name}</span>.</small></p>
#{ partial 'deprecated' }
#{File.read(current_page.source_file).gsub(/\A---\n(?:[[:print:]]+\s)+/m, '')}
#{ partial 'more' }
<p><small>Last edited by <span itemprop="editor">#{current_page.data.modified_by.name}</span> on <time itemprop="dateModified" datetime="#{Time.parse(current_page.data.modified).iso8601}">#{current_page.data.modified}</time>.</small></p>
</div>
<div id="doc-sidebar" class="col-sm-4 col-sm-pull-8 hidden-xs">
<div>
<h3 id="doc-sidebar-title" class="h5">Sections</h3>
* Table of Contents
{:toc .sidebar .sidebar-library}
</div>
</div>
EOS
			).to_html %>
		</div>
	</div>
</section>

<div class="modal fade" id="img-modal" tabindex="-1" role="dialog" aria-labelledby="imageModal" aria-hidden="true">
	<div class="modal-dialog modal-full">
		<div class="modal-content">
			<div class="modal-header">
				<h4 id="img-modal-title" class="modal-title">Image Detail</h4>
			</div>
			<div class="modal-body">
				<img id="img-modal-image" class="img-responsive">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-blue" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<% end %>
