<% wrap_layout :layout do %>
<section class="white extra-space bottom">
  <div class="container">
    <%= partial 'breadcrumb' %>

    <div class="row-content">
      <div class="col-sm-12">
        <div id="search-results"></div>
      </div>
    </div>

  </div>
</section>

<script type='text/javascript'>
  $(document).ready(function() { Search.run() });
</script>

<% end %>
