.api-navigation-wrapper {
  padding: 2rem;
  margin-right: 1rem;
  height: 100%;
}

.api-navigation {
  position: sticky;
  z-index: 2;
  top: 2rem;
}

.api-content {
  max-width: 60vw;
}

.api-body {
  @apply mb-8;
}

.list-group {
  max-height: 0;
  visibility: hidden;
  line-height: 1;
}

.active-group .list-group li {
  @apply my-2;
}

.active-group .list-group {
  max-height: 100%;
  visibility: visible;
}

.caret {
  @apply text-BaseBlackFull;
  width: 10px;
  height: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
}

.caret svg {
  position: relative;
  top: -1px;
}

.active-group .caret {
  transform: rotate(90deg);
}

.api-link {
  position: relative;
  left: 2px;
}

.api-link.active-item {
  @apply text-BaseBlackFull no-underline;
}

.response-200 {
  border-left-width: 5px;
  @apply border-BaseGreen;
}

.response-default {
  border-left-width: 5px;
  @apply border-BaseRed;
}

.initResponse {
  /* border-top-width: 1px;
  @apply border-grey-light; */
}

.response-wrapper .initResponse:first-child {
  /* border: 0; */
}

.subResponse {
  border-left-width: 2px;
  @apply border-grey-light;
}
