.api-content-wrapper {
  overflow: auto;
}

.border-api {
  border-color: #f4f4f4;
}

.api-body {
  @apply mb-8;
  overflow: auto;
}

.endpoint-anchor {
  position: relative;
  top: -150px;
  visibility: hidden;
}

.top-menu-anchor {
  position: relative;
  top: -120px;
  visibility: hidden;
  display: block;
}

.response-200 {
  border-left-width: 5px;
  @apply border-BaseGreen;
}

.response-default {
  border-left-width: 5px;
  @apply border-BaseRed;
}

.initResponse {
  border-top-width: 1px;
  @apply border-grey-light;
}

.subResponse {
  border-left-width: 1px;
  @apply border-grey-light;
}

@screen md {
  .list-container {
    display: block;
    margin-bottom: 0;
  }

  .api-navigation-wrapper {
    margin-right: 1rem;
    width: 300px;
    padding: 2rem;
  }

  .search-results-list {
    box-shadow: none;
    background-color: none;
  }
}

@screen lg {
  .api-content {
    max-width: 60vw;
  }
}
