.home-lins {
  max-width: 200px;
}

.developer-tools-wl .content {
  background-image: url("/img/cubes.png");
  background-size: 594px;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.event-item + .event-item + .event-item + .event-item {
  display: none;
}

@screen md {
  .home-lins {
    max-width: 437px;
  }
}

.code-box {
  max-width: 500px;
}

.code-box-header {
  border-bottom: 1px solid #fff;
}

.code-box-content {
  overflow-x: auto;
}

.code-box-circle {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
}

.circle-red {
  background-color: #c65d6a;
}

.circle-yellow {
  background-color: #cbbd0b;
}

.circle-green {
  background-color: #219d5e;
}
