{{ define "main" }}
  <div class="row-full relative -mt-2 px-2">
    <section class="header max-w-3xl mx-auto px-4 md:px-8 py-12 relative z-10">
      <h2>How easily can you create a Linode?</h2>
      <div class="text-2xl my-3">Are two steps easy enough?</div>
      {{ partial "2_molecules/code-box.html" }}
      <a href="https://www.linode.com/docs/platform/api/using-the-linode-cli/" target="_blank" class="btn mt-3">Get started with our Linode CLI</a>
    </section>
    <img src='{{ "img/grid.png" | relURL }}' class="home-lins absolute pin-t pin-r" />
  </div>

  <div class="flex flex-wrap my-8 -mx-4 pb-8">
    <article class="w-full md:w-1/2 px-4 mb-4 md:mb-8">
      <div class="px-8 py-20 h-full bg-d-cell tile flex flex-col justify-center items-center">
        <h2 class="mt-0 font-normal"><a href="https://developers.linode.com/" class="text-black tile-link">APIv4 Documentation</a></h3>
        <p class="text-xl mt-2 text-center">Reference Documentation for the linode API</p>
        <a href="https://developers.dev.linode.com/api/v4" target="_blank" class="btn mt-6">View API docs</a>
      </div>
    </article>
    <article class="w-full md:w-1/2 px-4 mb-4 md:mb-8">
      <div class="p-8 py-20 h-full bg-d-cell tile flex flex-col justify-center items-center">
        <h2 class="mt-0 font-normal"><a href="/guides/" class="text-black tile-link">Guides</a></h3>
        <p class="text-xl mt-2 text-center">How-to’s and examples using the Linode API</p>
        <a href="/guides/"  class="btn mt-6">View Guides</a>
      </div>
    </article>
    <article class="w-full md:w-1/2 px-4 mb-4 md:mb-8">
      <div class="p-8 py-20 h-full bg-d-cell tile flex flex-col justify-center items-center">
        <h2 class="mt-0 font-normal"><a href="/libraries-tools/" class="text-black tile-link">Libraries &amp; Tools</a></h3>
        <p class="text-xl mt-2 text-center">Jumpstart your API integration</p>
        <a href="/libraries-tools/" class="btn mt-6">View Libraries &amp; Tools</a>
      </div>
    </article>
    <article class="w-full md:w-1/2 px-4 mb-4 md:mb-8">
      <div class="p-8 py-20 h-full bg-d-cell tile flex flex-col justify-center items-center">
        <h2 class="mt-0 font-normal"><a href="https://www.linode.com/community/" target="_blank" class="text-black tile-link">Community Questions</a></h3>
        <p class="text-xl mt-2 text-center">Questions and answers from the Linode community</p>
        <a href="https://linode.com/community/questions" target="_blank" class="btn mt-6">View Q&amp;A</a>
      </div>
    </article>
  </div>

  <div class="mx-auto text-center max-w-lg my-8">
    <h2>Events</h2>
    <div class="text-2xl my-3">Catch us on the road at conferences, meetups, and job fairs</div>
  </div>
  <div class="flex flex-wrap my-8 -mx-4 pb-8">
    {{ range first 3 ((where .Pages "Section" "events").ByParam "start_date") }}
      <article class="w-full md:w-1/3 px-4 mb-4 md:mb-8">
        <div class="p-8 h-full bg-d-cell tile-border">
          <header>
            <h3 class="mt-0 mb-4"><a href="{{ .Params.event_url }}" class="text-black tile-link" target="_blank">{{ .Title | markdownify }}</a></h3>
          </header>
          <section>
            <div><strong>{{ .Params.location }}</strong></div>
            <div><strong>{{ dateFormat "Jan 2, 2006" .Params.start_date }}</strong></div>
            <p>{{ .Content }}</p>
          </section>
        </div>
      </article>
    {{ end }}
  </div>

  <div class="relative row-full pb-8">
    <div class="mx-auto text-center max-w-lg my-8">
      <h2>Careers at Linode</h2>
      <div class="text-2xl mt-4">Help us create the platform of tomorrow</div>
      <a class="btn block mx-auto mt-6" href="https://www.linode.com/careers" target="_blank">View opportunities</a>
    </div>
    <img src='{{ "img/triangles.png" | relURL }}' class="home-triangles absolute pin-b pin-l" />
  </div>

{{ end }}
