{{ define "banner" }}
  {{ partial "3_organisms/banner.html" ( dict "Title" "Developer Tools" "Subtitle" .Params.subtitle) . }}
{{ end }}

{{ define "main" }}
  <div class="row-full relative -mt-2 px-2">
    <section class="header max-w-3xl mx-auto px-4 md:px-8 py-12 relative z-10">
      <h2 class="text-center font-normal text-BaseGreenDark">Manage your Account with the Linode CLI</h2>
      <div class="text-2xl my-3 text-center font-light">All of the functionality of the Manager from the command line.</div>
      {{ partial "2_molecules/code-box.html" ( dict "Line1" "pip install linode-cli" "Line2" "linode-cli linodes create") }}
      <div class="mt-6 text-center"><a href="https://www.linode.com/cli" target="_blank" class="btn mt-3">Get Started with the Linode CLI</a></div>
    </section>
  </div>

  <div class="flex flex-wrap my-8 -mx-4 pb-8">
    <article class="w-full md:w-1/2 px-4 mb-4 md:mb-8">
      <div class="px-8 py-20 h-full bg-ThemeCell tile flex flex-col justify-center items-center">
        <h2 class="mt-0 font-normal text-center"><a href="/api/v4" class="text-black tile-link">API Documentation</a></h3>
        <p class="text-xl mt-2 text-center font-light">Reference Documentation for the Linode API</p>
      </div>
    </article>
    <article class="w-full md:w-1/2 px-4 mb-4 md:mb-8">
      <div class="p-8 py-20 h-full bg-ThemeCell tile flex flex-col justify-center items-center">
        <h2 class="mt-0 font-normal text-center"><a href="/guides/" class="text-black tile-link">Guides</a></h3>
        <p class="text-xl mt-2 text-center font-light">How-to’s and Examples Using the Linode API</p>
      </div>
    </article>
    <article class="w-full md:w-1/2 px-4 mb-4 md:mb-8">
      <div class="p-8 py-20 h-full bg-ThemeCell tile flex flex-col justify-center items-center">
        <h2 class="mt-0 font-normal text-center"><a href="/libraries-tools/" class="text-black tile-link">Libraries &amp; Tools</a></h3>
        <p class="text-xl mt-2 text-center font-light">Jumpstart Your API Integration</p>
      </div>
    </article>
    <article class="w-full md:w-1/2 px-4 mb-4 md:mb-8">
      <div class="p-8 py-20 h-full bg-ThemeCell tile flex flex-col justify-center items-center">
        <h2 class="mt-0 font-normal text-center"><a href="https://www.linode.com/community/" target="_blank" class="text-black tile-link">Community Questions</a></h3>
        <p class="text-xl mt-2 text-center font-light">Questions and Answers from the Linode Community</p>
      </div>
    </article>
  </div>

  <div class="mx-auto text-center max-w-lg my-8">
    <h2 class="text-BaseGreenDark font-normal">Events</h2>
    <div class="text-2xl my-3 font-light">Catch us on the road at conferences, meetups, and job fairs.</div>
  </div>
  <div class="my-8 -mx-4 pb-8 text-center">
    <div class="flex flex-row flex-wrap justify-center">
        {{ $events := (where .Pages "Section" "events").ByParam "start_date" }}
        {{ range $events  }}
          {{ $t := (time .Params.end_date) }}
          {{ if ge ($t) (now.Unix) }}
            <article itemscope="" itemtype="http://schema.org/ExhibitionEvent" class="w-full md:w-1/3 px-4 mb-4 md:mb-8 event-item">
              <meta itemprop="attendee" itemscope itemtype="http://schema.org/Organization" content="Linode">
              <div class="p-8 h-full bg-ThemeCell tile">
                <header>
                  <h3 class="mt-0 mb-4 font-normal"><a itemprop="url" href="{{ .Params.event_url }}" class="text-black tile-link" target="_blank"><span itemprop="name">{{ .Title | markdownify }}</span></a></h3>
                </header>
                <section>
                  <div itemprop="location" itemscope itemtype="http://schema.org/Place"><span itemprop="address">{{ .Params.location }}</span></div>
                  <div><time itemprop="startDate" datetime="{{ dateFormat "2006-01-02" .Params.start_date }}">{{ dateFormat "Jan 2, 2006" .Params.start_date }}</time></div>
                  <p itemprop="description">{{ .Content }}</p>
                </section>
              </div>
            </article>
          {{ end }}
        {{ end }}
    </div>
      <a class="btn mx-auto text-center mb-12" href="https://www.linode.com/events" target="_blank">View All Events</a>
  </div>

  <div class="relative row-full pb-8 home-cubes">
    <div class="mx-auto text-center max-w-lg my-8">
      <h2 class="font-normal text-BaseGreenDark">Careers at Linode</h2>
      <div class="text-2xl mt-2 mb-8 font-light">Help us create the platform of tomorrow.</div>
      <a class="btn mx-auto mt-6" href="https://www.linode.com/careers" target="_blank">View Opportunities</a>
    </div>
  </div>

{{ end }}
