

<%

default_description = 'Guides and tutorials on the Linode platform, Linux basics, and software installation and configuration.'
default_keywords = 'cloud hosting solutions, linux, linux guides, linux tutorials, lamp guides, lamp stack'
default_image = 'https://www.linode.com/docs/images/linode_logo_120x120.png'
default_image_width = '120'
default_image_height = '120'
%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ .data.description || default_description }}">
    <meta name="keywords" content="{{ .data.keywords || default_keywords }}">
    {{ if .data.no_index }}<meta name="robots" content="noindex" />{{ end }}

    <meta property="og:title" content="{{ .data.og_title || .data.title || default_title }}">
    <meta property="og:type" content="{{ .metadata[:options][:layout] == :article_layout ? 'article' : 'website' }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:description" content="{{ .data.og_description || .data.description || default_description }}">
    <meta property="og:site_name" content="{{ default_title }}">
    {{ if .data.image }}
        {{ if .data.image.is_a? String }}
            <meta property="og:image" content="{{ .data.image }}">
        {{ else }}
            {{ if .data.image.file }}<meta property="og:image" content="{{ .data.image.file }}">{{ end }}
            {{ if .data.image.width }}<meta property="og:image:width" content="{{ .data.image.width }}">{{ end }}
            {{ if .data.image.height }}<meta property="og:image:height" content="{{ .data.image.height }}">{{ end }}
        {{ end }}
	{{ else }}
        <meta property="og:image" content="{{ default_image }}">
        <meta property="og:image:width" content="{{ default_image_width }}">
        <meta property="og:image:height" content="{{ default_image_height }}">
    {{ end }}

    {{ if .data.twitter }}
        {{ if .data.twitter.card }}<meta name="twitter:card" content="{{ .data.twitter.card }}">{{ end }}
    {{ else }}
        <meta name="twitter:card" content="summary">
    {{ end }}
    <meta name="twitter:site" content="@linode">

    <link rel="alternate" type="application/rss+xml" title="RSS" href="https://www.linode.com/docs/rss" />
    <link href="{{ relURL "assets/stylesheets/home.css?4 }}" rel='stylesheet' type='text/css'>
    <link href="{{ relURL "assets/stylesheets/syntax.css }}" rel='stylesheet' type='text/css'>
    {{ javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js' }}

    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>


      <link rel='canonical' href="TODO(bep)">


    <link rel="shortcut icon" href="/favicon.ico">
  </head>

  <body class="no-subnav">
    <header>
      {{ partial "nav" . }}
      {{ partial "subnav" . }}
    </header>

   {{block "main" .}}{{ end }}

    <footer>
      {{ partial "contribute_footer" . }}
      {{ partial "footer" . }}
    </footer>

    {{ partial "js" . }}
  </body>
</html>
