h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
  text-decoration: none !important;
}

.border-top {
  border-top-width: 1px;
}

.api-body code {
  @apply p-2 mt-2 mb-4 bg-ThemeBeige block;
}

.api-body table {
  width: 100%;
  @apply border border-BaseGrey;
}

.api-body thead {
  text-align: left;
}

.api-body th,
.api-body td {
  @apply p-2 border border-BaseGrey;
}

.api-body table code {
  @apply py-0 px-2 m-0 mb-1 inline-block text-BaseRed rounded;
  line-height: 1.7;
}
