<div id="careers" class="section">
    <div class="col-12 text-center">
      <h1><i class="fab fa-linux"></i> Careers</h1>
      <p>Who wouldn't want to work for Linode?</p>
    </div>

    <div class="col-12">
      <div class="row">
        <div class="col-md-3">
          <h5>Software Engineer</h5>
          <p>Must have skills with things and stuff.<br />
            <a href="https://linode.com/careers" target="_blank">More Information</a></p>
        </div>
        <div class="col-md-3">
          <h5>Senior Network Administrator</h5>
          <p>Must have skills with things and stuff.<br />
            <a href="https://linode.com/careers" target="_blank">More Information</a></p>
        </div>
        <div class="col-md-3">
          <h5>Customer Support Representative</h5>
          <p>Must have skills with things and stuff.<br />
            <a href="https://linode.com/careers" target="_blank">More Information</a></p>
        </div>
        <div class="col-md-3">
          <h5>See All Career Openings</h5>
          <p>Come help us build a better cloud. See all of our available positions on the
            <a href="https://linode.com/careers" target="_blank">Careers</a> page.
        </div>
      </div>
    </div>

</div>
