<%
  github_path = current_page.path.sub /.html$/, '.md'
%>

<div class="library-github" markdown="0">
  <i class="fa fa-github"></i>
  <strong>Contribute on GitHub</strong>
  <p>
    <a href="https://github.com/linode/docs">View Project</a> |
    <a href="https://github.com/linode/docs/blob/master/<%= github_path %>">View File</a> |
    <a href="https://github.com/linode/docs/edit/master/<%= github_path %>">Edit File</a>
  </p>
</div>
