<%
BASE_PATH = "./source#{.url}"
categories, uncategorized_articles = [], []

# Uncategorized articles
(.Params.featured || Dir.glob("#{BASE_PATH}*").reject {|f| File.directory? f or File.basename(f) == "index.md" }).each do |article|
  article_filename = File.basename(article, '.md')
  File.open "#{BASE_PATH}#{article_filename}.md" do |f|
    url = "#{.url}#{article_filename}".gsub(/index$/, '')
    meta = YAML.load(f.read).merge({ "url" => url })
    uncategorized_articles << meta unless meta["deprecated"]
  end
end

# Categorized articles
(.Params.categories || Dir.glob("#{BASE_PATH}*").select {|f| File.directory? f }).each do |category|

  sub_category_dir = File.basename(category)

  articles = []
  Dir.glob("#{BASE_PATH}#{sub_category_dir}/*.md").each do |article|
    article_filename = File.basename(article, '.md')
    File.open "#{BASE_PATH}#{sub_category_dir}/#{article_filename}.md" do |f|
      url = "#{.url}#{sub_category_dir}/#{article_filename}".gsub(/index$/, '')
      meta = YAML.load(f.read).merge({ "url" => url })
      articles << meta unless meta["deprecated"]
    end
  end

  categories << { :articles => articles, :sub_category_dir => sub_category_dir } unless articles.empty?
end
%>


{{ uncategorized_articles.each_slice(2) do |slice| }}
  <div class="row">
    {{ slice.each do |article| }}
      <div class="col-md-6 library-article-blurb">
        <h4><a href="{{ article["url"] }}">{{ article["title"] }}</a></h4>
        <p>{{ article["description"] }}</p>
      </div>
    {{ end }}
  </div>
{{ end }}

<div class="library-categories-row">
  {{ # <3 akerl }}
  {{ categories.each_with_index.partition { |obj, i| i.even? }.map { |x| x.map(&:first) }.each do |category_partition| }}
    <div class="col-md-6">
      {{ category_partition.each do |category| }}
        <h4 class="library-category-title">{{ category[:articles].first["category"] || category[:sub_category_dir].capitalize }}</h4>
        <ul class="library-category-articles">
          {{ category[:articles].each do |article| }}
            <li><a href="{{ article["url"] }}">{{ article["title"] }}</a></li>
          {{ end }}
        </ul>
      {{ end }}
    </div>
  {{ end }}
</div>