  <div class="mb-4">
    <div class="w-full">
      <p>We follow semantic versioning according to the <a href="https://semver.org" target="_blank">Semantic Versioning 2.0.0 Guidelines</a>.</p>
    </div>
    <div class="bg-d-cell p-8 mt-4">
      <div class="font-semibold mb-4">Unreleased changes</div>
      <ul>
        <li>Petierunt uti sibi concilium totius Galliae in diem certam indicere.</li>
        <li>Phasellus laoreet lorem vel dolor tempus vehicula.</li>
        <li>Contra legem facit qui id facit quod lex prohibet.</li>
        <li>Paullum deliquit, ponderibus modulisque suis ratio utitur.</li>
      </ul>
    </div>
  </div>