<div class="code-box bg-ThemeBeige rounded md:my-8 mx-auto">
  <div class="code-box-header border-white flex justify-start py-4 px-6">
    <span class="code-box-circle circle-red"></span>
    <span class="code-box-circle circle-yellow"></span>
    <span class="code-box-circle circle-green"></span>
  </div>
  <div class="code-box-content py-4 px-6">
    <pre>{{ .Line1 }}</pre>
    <pre>{{ .Line2 }}</pre>
    <pre>{{ .Line3 }}</pre>
    <pre>{{ .Line4 }}</pre>
    <pre>{{ .Line5 }}</pre>
  </div>
</div>