:root {
  /* 
  whatever variable is reusable and not applicate for a utility class. 
  ex: nav > a for which we may not want to apply a utility class to every <a> element
  match the var to the tailwind.js utility file for consistency
  */
  --nav-grey: #a6a6a6;
  --l-green: #1AB15C;
}