<section class="neutral some-space">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3>Get paid to write for Linode.</h3>
        <p><a href="/docs/contribute">Learn More <span class="caret-right"></span></a></p>
      </div>
    </div>
  </div>
</section>
