<% if current_page.data.upcoming_webinar && current_page.data.upcoming_webinar.webinar_datetime %>
  <% theDate = Date.parse(current_page.data.upcoming_webinar.webinar_datetime) %>
  <% theDate = theDate.strftime('%Y-%m-%d') %>
  <% nowDate = Date.today.to_s %>
  <% if nowDate <= theDate %>
	  <div id="frontpage_upcoming_webinar" align="center" style="background:#2d8ec6;">
		  <div id="frontpage_upcoming_webinar_text">
			<a href="<%= current_page.data.upcoming_webinar.webinar_registration_url %>"><i class="fa fa-youtube-play"></i> Next Live Tutorial: <strong><%= current_page.data.upcoming_webinar.webinar_title %></strong></a>
		  </div>
	  </div>
  <% end %>
<% end %>
