<%
  github_path = current_page.path.sub /.html$/, '.md'
%>

<div class="library-github">
  <i class="fa fa-github"></i>

  <h6>Contribute on GitHub</h6>

  [View Project](https://github.com/linode/library){:target="_blank"} | [View File](https://github.com/linode/library/blob/master/<%= github_path %>){:target="_blank"} | [Edit File](https://github.com/linode/library/edit/master/<%= github_path %>){:target="_blank"}
</div>

