<%
  github_path = current_page.path.sub /.html$/, '.md'
%>

<div class="library-github">
  <i class="fa fa-github"></i>

  <h6>Submit an edit?</h6>

  [View Project](https://github.com/linode/library) | [View File](https://github.com/linode/library/blob/master/<%= github_path %>) | [Edit File](https://github.com/linode/library/edit/master/<%= github_path %>)
</div>

