<%= javascript_include_tag 'bootstrap.min.js' %>
<%= javascript_include_tag 'prettify.min.js' %>
<%= javascript_include_tag 'jquery.syntaxhighlighter.min.js' %>
<%= javascript_include_tag 'main.js' %>

<script type="text/javascript">
$( "img[src^='\/assets']" ).each(function () {
	$( this ).parent().bind('click', false);
	$( this ).click(function(e) {
		var image_title = $( this ).attr('alt');
		var image_href = $( this ).parent().attr('href');
		$( '#img-modal-image' ).attr('src', image_href);
		$( '#img-modal-title' ).text(image_title);
		$( '#img-modal' ).modal({ show: true });
	});
});
</script>

<div class="t">
	<script type="text/javascript">
	var _qevents = _qevents || [];
	(function() {
	var elem = document.createElement('script');
	elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
	elem.async = true;
	elem.type = "text/javascript";
	var scpt = document.getElementsByTagName('script')[0];
	scpt.parentNode.insertBefore(elem, scpt);
	})();
	_qevents.push(
	{qacct:"p-1dJYGOmeqAblc",labels:"_fp.event.Linode Homepage"}
	);
	</script>
	<noscript>
	<img src="//pixel.quantserve.com/pixel/p-1dJYGOmeqAblc.gif?labels=_fp.event.Linode+Homepage" style="display: none;" border="0" height="1" width="1" />
	</noscript>

	<script type="text/javascript">
		var _gaq = _gaq || [];
		var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
		_gaq.push(['_require', 'inpage_linkid', pluginUrl]);
		_gaq.push(['_setAccount', 'UA-177150-1']);
		_gaq.push(['_setDomainName', 'linode.com']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>

	<script type="text/javascript">
	/* <![CDATA[ */
	var google_conversion_id = 1071926901;
	var google_custom_params = window.google_tag_params;
	var google_remarketing_only = true;
	/* ]]> */
	</script>
	<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">;
	</script>
	<noscript>
	<div style="display:inline;">
	<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1071926901/?value=0&amp;guid=ON&amp;script=0"/>
	</div>
	</noscript>

	<script type="text/javascript">
		adroll_adv_id = "IL4WBB7BGVAMPP6O6DBOTR";
		adroll_pix_id = "PYYL6IEEX5AWZGO6IXQDLQ";
		(function () {
		var oldonload = window.onload;
		window.onload = function(){
			__adroll_loaded=true;
			var scr = document.createElement("script");
			var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
			scr.setAttribute('async', 'true');
			scr.type = "text/javascript";
			scr.src = host + "/j/roundtrip.js";
			((document.getElementsByTagName('head') || [null])[0] ||
			document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
			if(oldonload){oldonload()}};
		}());
	</script>

	<script type="text/javascript">
		$("a").on('click',function(e){
			var url = $(this).attr("href");
			if (e.currentTarget.host != window.location.host) {
				_gaq.push(['_trackEvent', 'Outbound Links', e.currentTarget.host, url, 0]);
				if (e.metaKey || e.ctrlKey) {
					var newtab = true;
				}
				if (!newtab) {
					e.preventDefault();
					setTimeout('document.location = "' + url + '"', 100);
				}
			}
		});
	</script>
</div>