<div class="library-signup">
  <i class="fa fa-cloud-upload"></i>

  <h6>Try this guide on a Linode!</h6>
  <a href="https://manager.linode.com/signup" target="_blank">Create an account <span class="caret-right"></span></a>
</div>
