.footer-wrapper {
  background-color: #fafafc;
}

.footer-wrapper-inner {
  max-width: 1296px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 64px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.footer-nav {
  margin-left: auto;
  margin-right: auto;
}

.footer-nav-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 16px; 
}

.footer-nav a,
.footer-wrapper a {
  text-decoration: none;
  color: #616266;
}

.footer-nav-header {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 600;
  color: #32363b;
}

.footer-nav a:hover {
  color: #616266;
  text-decoration: none;
}

.footer-wrapper a:hover {
  color: #616266;
  text-decoration: underline;
}

.footer-nav-social a {
  display: inline-block;
  width: 24px;
  margin-right: 48px;
  border: 1px solid currentColor;
  padding: 0 6px;
  border-radius: 4px;
}

.footer-nav-social a:hover {
  color: #616266;
}

.footer-links a {
  color: #616266;
}

.copyright {
  font-size: 13px;
  line-height: 1.30769;
  color: #616266;
}

.footer-nav li {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 1.4;
}

.footer-logo-outer {
  margin-bottom: 32px;
  text-align: center;
}

.footer-nav li:last-child {
  margin-bottom: 0;
}

.footer-social-icon {
  height: 24px;
  color: #32363b;
  margin: 0 8px;
}

.footer-social-a {
  display: flex;
  align-items: center;
}

.footer-logo {
  max-width: 196px;
}

.footer-social-label {
  display: none;
}

.footer-social-outer {
  display: flex;
  justify-content: center;
}

.footer-nav-header--social {
  display: none;
}

.footer-nav-grid {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.sm-down-hidden {
  display: none;
}

.footer-sublist {
  margin-bottom: 32px;
  font-size: 14px;
  list-style: none;
  padding: 0;
}

.footer-social-outer .footer-sublist {
  display: flex;
}

@media only screen and (min-width: 768px) {
  .footer-wrapper-inner {
    padding-left: 0;
    padding-right: 0;
  }

  .footer-logo {
    max-width: 145px;
  }

  .footer-logo-outer {
    text-align: left;
  }

  .footer-social-icon {
    height: 14px;
    margin: 0 10px 0 0;
  }

  .footer-social-outer {
    display: block;
  }

  .footer-social-outer .footer-sublist {
    display: block;
  }

  .footer-social-label {
    display: inline-block;
  }

  .footer-nav-header--social {
    display: inline-block;
  }

  .footer-nav-grid {
    /* Taken from Tailwind styles for w-1/6 */
    width: 16.66667%;
  }

  .sm-down-hidden {
    display: inline-block;
  }
}
