.o-layout__row {
  padding: 16px;
}
.o-layout__colset {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  margin-left: auto;
  margin-right: auto;
  max-width: 1296px;
}
.o-layout__module {
  margin: 16px 8px;
}
.o-menu__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.o-menu__item {
  margin: 0;
}
.o-menu__link {
  border: 0 solid transparent;
  cursor: pointer;
  text-decoration: none;
}
.o-menu__title {
  display: inline-block;
  white-space: nowrap;
}
.o-menu__caret {
  display: inline-block;
  margin-left: 0.5em;
  position: relative;
  top: 0;
  width: 0.5em;
}
.o-menu--flex .o-menu__list {
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
  flex-wrap: nowrap;
}
.o-menu--flex .o-menu__link {
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
}
.o-menu--2col .o-menu__list {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}
.c-identity {
  vertical-align: top;
}
.c-identity__link {
  display: block;
}
.c-identity__image {
  display: block;
  height: auto;
  max-width: 145px;
  width: 100%;
}
@media (max-width: 47.99em) {
  .c-identity__image {
    max-width: 104px;
  }
}
.c-site-footer {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  line-height: 1.33333;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  background-color: #fff;
  color: #32363b;
}
.c-site-footer a {
  color: inherit;
}
.c-site-footer__primary {
  font-size: 14px;
  line-height: 1.28571;
  background-color: #fff;
  color: #65686c;
  padding-top: 56px;
  padding-bottom: 56px;
}
@media (max-width: 47.99em) {
  .c-site-footer__primary .c-identity__link {
    text-align: center;
  }
  .c-site-footer__primary .c-identity__image {
    display: inline-block;
    max-width: 144px;
  }
}
@media (max-width: 47.99em) {
  .c-site-footer__primary .c-copyright {
    text-align: center;
  }
}
.c-site-footer__primary .o-menu__heading {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 1.33333;
  font-weight: 600;
  color: var(--h6-color, var(--heading-color));
  letter-spacing: -0.25px;
  color: #32363b;
  margin: 32px 0 16px;
}
@media (max-width: 47.99em) {
  .c-site-footer__primary .o-menu__heading {
    font-size: 14px;
    line-height: 1.57143;
  }
}
.c-site-footer__primary .o-layout__module:first-child .o-menu__heading {
  margin-top: 0;
}
.c-site-footer__primary .o-menu__item + .o-menu__item {
  margin-top: 10px;
}
.c-site-footer__primary .o-menu__link:hover {
  text-decoration: underline;
}
.c-site-footer__primary .o-menu__link:hover * {
  text-decoration: inherit;
}
.c-site-footer__primary .c-social i {
  color: #32363b;
  margin-right: 0.666em;
}
@media (max-width: 47.99em) {
  .c-site-footer__primary .o-layout__col {
    display: none;
  }
  .c-site-footer__primary .o-layout__col:first-child {
    display: block;
  }
}
.c-site-footer__secondary {
  padding-bottom: 16px;
  padding-top: 16px;
  --heading-color: #fff;
  background-image: url("../../../images/triangles.png"),--webkit-gradient(linear, left top, right bottom, from(#2f6f4e), to(#02b159));
  background-image: url("../../../images/triangles.png"),
    linear-gradient(to bottom right, #2f6f4e, #02b159);
  color: #fff;
}
@media (max-width: 47.99em) {
  .c-site-footer__secondary {
    padding-bottom: 32px;
    padding-top: 32px;
  }
}
.c-site-footer__secondary .c-newsletter-cta {
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
}
.c-site-footer__secondary .c-newsletter-cta h4 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 1.33333;
  font-weight: 600;
  color: var(--h6-color, var(--heading-color));
  letter-spacing: -0.25px;
  margin: 0;
  margin-right: 24px;
  padding: 9px 0;
}
@media (max-width: 47.99em) {
  .c-site-footer__secondary .c-newsletter-cta h4 {
    font-size: 14px;
    line-height: 1.57143;
  }
}
@media (max-width: 47.99em) {
  .c-site-footer__secondary .c-newsletter-cta h4 {
    margin-right: 0;
  }
}
.c-site-footer__secondary .c-newsletter-cta .mktoForm {
  -webkit-box-align: start;
  align-items: flex-start;
  display: -webkit-box;
  display: flex;
}
.c-site-footer__secondary .c-newsletter-cta .mktoFieldWrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
.c-site-footer__secondary .c-newsletter-cta .mktoLabel {
  display: none;
}
.c-site-footer__secondary .c-newsletter-cta .mktoEmailField {
  min-width: 240px;
}
.c-site-footer__secondary .c-newsletter-cta .mktoButtonRow {
  margin: 0 0 0 16px;
}
@media (max-width: 47.99em) {
  .c-site-footer__secondary .c-newsletter-cta {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    text-align: center;
  }
  .c-site-footer__secondary .c-newsletter-cta > div:nth-child(1) {
    text-align: center;
  }
  .c-site-footer__secondary .c-newsletter-cta h4 {
    font-family: "Source Sans Pro", sans-serif !important;
    font-size: 32px !important;
    line-height: 1.125 !important;
    font-weight: 600 !important;
    color: var(--h4-color, var(--heading-color)) !important;
    letter-spacing: -0.5px !important;
    margin-bottom: 16px;
  }
  .c-site-footer__secondary .c-newsletter-cta .mktoForm {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .c-site-footer__secondary .c-newsletter-cta .mktoButtonRow {
    margin: 16px 0 0;
  }
}
