/* LAYOUT */
body.oh {
  overflow: hidden;
}

.logo {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.visibility-hidden {
  visibility: hidden;
}

/* TYPOGRAPHY */

.header__link {
  color: #32363b;
  user-select: none;
}

.header__link:hover {
  color: #32363b;
}

.sub-menu__li {
  list-style-type: none;
  margin-top: 0.5rem;
}

.sub-menu__link {
  display: inline-block;
  font-size: 1.125rem;
  line-height: 1.33333;
}

.sub-menu__header {
  font-size: 0.75rem;
  font-weight: 400;
  color: #999b9d;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.sub-menu__header-li {
  margin-top: 1rem;
}

.sub-menu__header-link {
  color: rgb(50, 54, 59);
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.16667;
  font-weight: 600;
  letter-spacing: -0.5px;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.18182;
  margin-bottom: 0.5rem;
}

.sub-menu__header-link--w-icon {
  margin-bottom: 0.75rem;
}

/* HEADER */
.header__wrapper {
  position: sticky;
  top: -37px;
  z-index: 3;
  background-color: white;
  border-bottom: 1px solid #ededf4;
}

/* UTILITY NAV */

.utility-nav__wrapper {
  border-bottom: 1px solid #ededf4;
  margin-top: 1px;
}

.utility-nav__container {
  max-width: 1296px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  padding: 0 0.5rem;
}

.utility-nav {
  padding: 0 1rem;
}

.utility-nav__link {
  font-size: 0.8125rem;
  line-height: 1.30769;
  border: 0 solid transparent;
  border-width: 2px 0;
  cursor: pointer;
  display: inline-block;
  margin: 0 12px;
  padding: 8px 0;
  text-decoration: none;
}

/* PRIMARY NAV */

.primary-nav {
  margin-top: -4px;
}

.primary-nav__wrapper {
  max-width: 1296px;
  margin: 0.5rem auto;
  padding: 0 0.5rem;
}

.primary-nav__inner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 3px;
  margin-bottom: 3px;
}

.primary-nav__link {
  cursor: pointer;
  margin: 0 20px;
  font-size: 1.125rem;
  line-height: 1.33333;
  font-weight: 600;
  padding: 10px 0;
  border-width: 2px 0;
  border-style: solid;
  border-color: transparent;
}

.primary-nav__link:hover {
  border-bottom-color: #02b159;
}

.primary-nav__link:hover {
  text-decoration: none;
}

.primary-nav__caret {
  display: inline-block;
  width: 8px;
  position: relative;
  top: 3px;
  left: -9.5px;
  margin-right: 10px;
}

.primary-nav__link.search {
  margin-right: 8px;
}

.primary-nav__link.search:hover {
  border: 0;
}

.primary-nav__link .search-icon {
  display: inline-block;
  position: relative;
  margin-left: 1px;
}

.primary-nav__link .search-icon:before {
  background-image: url("data:image/svg+xml;utf8,<svg width='23px' height='23px' viewBox='0 0 23 23' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><title>Icon / Search</title><g id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'><g id='Icon--Search' transform='translate(1.000000, 2.000000)' stroke='%23353233' stroke-width='2.2'><g><circle id='Oval' cx='11.5' cy='8.5' r='8.5'></circle><path d='M5.5,14.5 L0.816060936,19.1839391' id='Line' stroke-linecap='square'></path></g></g></g></svg>");
  content: "";
  display: inline-block;
  height: 23px;
  vertical-align: middle;
  width: 23px;
}

/* SUBMENUS */

.sub-menu.visually-hidden {
  top: 66%;
  opacity: 0.75;
}

.sub-menu {
  position: absolute;
  background: white;
  left: 0;
  width: 100vw;
  height: 100vh;
  top: 100%;
  margin-top: 1px;
  transition: top linear 0.2s, opacity linear 0.2s;
  opacity: 1;
  z-index: -1;
  padding: 0 1rem;
}

.sub-menu__item {
  margin: 1rem 0.5rem;
  padding: 0;
}

.sub-menu__item--reg {
  margin-top: 1.5rem;
}

.sub-menu__container {
  max-width: 1296px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.sub-menu__col {
  width: 33.33%;
}

.sub-menu__content {
  padding: 2rem 4rem;
  border-right: 1px solid #ededf4;
  height: 100%;
}

.sub-menu__icon {
  display: inline-block;
  float: left;
  height: 3rem;
  margin-right: 1rem;
  overflow: hidden;
  width: 3rem;
}

.sub-menu__body {
  display: block;
  overflow: hidden;
}

.sub-menu__title {
  display: block;
}

.sub-menu__description {
  color: #616266;
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.42857;
  font-weight: 400;
  letter-spacing: 0;
  width: 100%;
  display: block;
}

.sub-menu__col:first-child .sub-menu__content {
  padding-left: 0;
}

.sub-menu__col:nth-child(3n) .sub-menu__content {
  border-right: 0;
}
