/* LAYOUT */
body.oh {
  overflow: hidden;
}

.logo__link {
  display: flex;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.visibility-hidden {
  visibility: hidden;
}

/* TYPOGRAPHY */

.header * {
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}

.header *:after,
.header *:before {
  box-sizing: inherit;
}

.header__link {
  color: #32363b;
  user-select: none;
}

.header__link:first-child {
  margin-left: 0;
}

.header__link:last-child {
  margin-right: 0;
}

.header__link:hover,
.header__link:focus {
  color: #32363b;
  text-decoration: none;
}

.sub-menu__li {
  list-style-type: none;
  margin-top: 8px;
}

.sub-menu__link {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
}

.sub-menu__header {
  font-size: 12px;
  line-height: 13px;
  font-weight: 400;
  color: #999b9d;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.sub-menu__header-li {
  margin-top: 8px;
}

.sub-menu__header-link {
  color: rgb(50, 54, 59);
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
  letter-spacing: -0.5px;
  margin-bottom: 8px;
}

.sub-menu__header-link--w-icon {
  margin-bottom: 12px;
}

/* HEADER */
.header__wrapper {
  position: sticky;
  top: -37px;
  z-index: 11;
  background-color: white;
  border-bottom: 1px solid rgb(237, 237, 244);
}

/* UTILITY NAV */

.utility-nav__wrapper {
  border-bottom: 1px solid rgb(237, 237, 244);
  padding: 0 16px;
  height: 37px;
}

.utility-nav__container {
  max-width: 1296px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  padding: 0 8px;
}

.utility-nav {
  font-weight: 400;
}

.utility-nav__link {
  font-size: 13px;
  line-height: 17px;
  border: 0 solid transparent;
  border-width: 2px 0;
  display: inline-block;
  margin: 0 12px;
  padding: 8px 0;
  text-decoration: none;
  font-weight: 600;
  position: relative;
  top: -1px;
}

/* PRIMARY NAV */

.primary-nav {
  margin-top: 3px;
}

.primary-nav__wrapper {
  max-width: 1296px;
  margin: 8px auto;
  padding: 0 8px;
}

.primary-nav__inner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 3px;
  margin-bottom: 3px;
}

.primary-nav__link {
  cursor: pointer;
  margin: 0 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 0;
  border-width: 2px 0;
  border-style: solid;
  border-color: transparent;
}

.primary-nav__link:hover {
  border-bottom-color: #02b159;
}

.primary-nav__link:hover {
  text-decoration: none;
}

.primary-nav__caret {
  display: inline-block;
  width: 7px;
  position: relative;
  top: 1px;
  left: -9.5px;
  margin-right: 10px;
}

.primary-nav__link.search {
  margin-right: 0;
}

.primary-nav__link.search:hover {
  border: 0;
}

.primary-nav__link .header-search-icon {
  display: inline-block;
  position: relative;
  margin-left: 0px;
  top: -1px;
  right: 0px;
}

.primary-nav__link .header-search-icon:before {
  background-image: url("data:image/svg+xml;utf8,<svg width='23px' height='23px' viewBox='0 0 23 23' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><title>Icon / Search</title><g id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'><g id='Icon--Search' transform='translate(1.000000, 2.000000)' stroke='%23353233' stroke-width='2.2'><g><circle id='Oval' cx='11.5' cy='8.5' r='8.5'></circle><path d='M5.5,14.5 L0.816060936,19.1839391' id='Line' stroke-linecap='square'></path></g></g></g></svg>");
  content: "";
  display: inline-block;
  height: 23px;
  vertical-align: middle;
  width: 23px;
}

.primary-nav__link.sign-up {
  background-color: #02b159;
  color: white;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  padding: 11px 22px 11px 21px;
  border-radius: 4px;
  border: 2px solid #02b159;
  position: relative;
  top: -2px;
}

.primary-nav__link.mobile {
  display: block;
}

.primary-nav__link .header-mobile-icon {
  position: relative;
  top: 5px;
}

@media only screen and (min-width: 768px) {
  .primary-nav__link.mobile {
    display: none;
  }
}

/* SUBMENUS */

.sub-menu.visually-hidden {
  top: 66%;
  opacity: 0.75;
}

.sub-menu {
  position: absolute;
  background: white;
  left: 0;
  width: 100vw;
  height: 100vh;
  top: 100%;
  margin-top: 1px;
  transition: top linear 0.2s, opacity linear 0.2s;
  opacity: 1;
  z-index: -1;
  padding: 0 1rem;
}

.sub-menu__item {
  margin: 16px 8px;
  padding: 0;
}

.sub-menu__item--reg {
  margin-top: 24px;
}

.sub-menu__container {
  max-width: 1296px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.sub-menu__col {
  width: 33.33%;
}

.sub-menu__content {
  padding: 32px 64px;
  border-right: 1px solid #ededf4;
  height: 100%;
}

.sub-menu__icon {
  display: inline-block;
  height: 48px;
  margin-right: 16px;
  overflow: hidden;
  width: 48px;
  vertical-align: top;
}

.sub-menu__body {
  display: inline-block;
  overflow: hidden;
}

.sub-menu__title {
  display: block;
  font-size: 22px;
}

.sub-menu__description {
  color: #616266;
  margin-top: 4px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0;
  width: 100%;
  display: block;
}

.sub-menu__col:first-child .sub-menu__content {
  padding-left: 0;
}

.sub-menu__col:nth-child(3n) .sub-menu__content {
  border-right: 0;
}
