.layout-fixed .header-wrapper {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.primaryLinks-inner {
  padding: 1rem 0.5rem;
  width: 100%;
}

@screen xl {
  .primaryLinks-inner {
    padding: 1rem 0;
    width: 100%;
  }
}
