.btn {
  @apply py-3 px-4 bg-d-turq text-white;
  width: fit-content;
  transition: background-color 225ms ease-in-out,
              color 225ms ease-in-out;
  line-height: 1;
  text-decoration: none;
}

.btn-small {
  @apply py-2 px-3 text-sm;
}

.btn:hover {
  @apply bg-d-turq-hov;
  @apply text-white;
  text-decoration: none;
}

.btn-grey {
  @apply bg-grey-light;
  @apply text-black;
}

.btn.active {
  @apply bg-d-turq;
  @apply text-white;
  text-decoration: none;
}